<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user.email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= task.subject.name%>
  </p>

  <p>
    <strong>Date:</strong>
    <%= task.date %>
  </p>

</div>
