<div id="<%= dom_id subject %>">
  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= subject.color %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= subject.teacher %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= subject.schedule %>
  </p>

</div>
