<p style="color: green"><%= notice %></p>

<% content_for :title, "Subjects" %>

<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Teacher</th>
      <th>Schedule</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td>
          <div style="width: 20px; height: 20px; background-color: <%= subject.color %>;"></div>
        </td>
        <td><%= subject.teacher %></td>
        <td><%= subject.schedule %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New subject", new_subject_path %>
